output.data
generate
aes/aes/aes_syn
backprop/backprop/backprop_syn
bfs/bulk/bfs_bulk_syn
bfs/queue/bfs_queue_syn
fft/strided/fft_strided_syn
fft/transpose/fft_transpose_syn
gemm/ncubed/gemm_ncubed_syn
gemm/blocked/gemm_blocked_syn
kmp/kmp/kmp_syn
md/knn/md_knn_syn
md/grid/md_grid_syn
nw/nw/nw_syn
sort/merge/sort_merge_syn
sort/radix/sort_radix_syn
spmv/crs/spmv_crs_syn
spmv/ellpack/spmv_ellpack_syn
stencil/stencil2d/stencil2d_syn
stencil/stencil3d/stencil3d_syn
viterbi/viterbi/viterbi_syn
